.main-content {
    text-align: center;
    padding-top: 80px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    input {
        height: 2rem;
        border-radius: 5px;
        padding: 5px 10px;
        width: 400px;
    }
    
    button {
        height: 2rem;
    }
}
