.App {
  text-align: center;
  text-transform: uppercase;
}

.main-area {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  width: 600px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
